{% extends "base.html" %}

{% block content %}
{% load static %}
    <!-- - ================================================================================== -->

    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('{% static "images/course_6.jpg" %}')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Courses</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="/home/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            {% if not is_teacher %}
            <div class="row centered ml-1" style="margin-bottom:10%;">
                <div class="col-sm-8 pt-1">
                  <h5 class="text-primary">Let the World Know Your Talents And Help Them Learn It Too!</h5>
                </div>
                <div class="col-sm-4">
                   <a class="small btn btn-primary" style="" href="{% url 'user_to_teacher' %}">Become A Teacher!</a>
                </div>
            </div>
            {% endif %}
              <div class="row" style="margin-bottom:10%;">
                    {% if courses_taken %} 
                    <div class="col-md-12 mb-3 text-primary">
                        <h2>Enrolled Courses</h2>
                    </div>
                    {% for course in courses_taken %}
                    <div class="col-md-auto pt-4">
                        <h4>{{course.courses_enrolled.title}}</h4>
                        <a href="{% url 'course-videos' course_id=course.courses_enrolled.id %}">
                            <div class="btn btn-dark pt-1">Continue</div>
                        </a>
                    </div>
                    {% endfor %} {% else %}
                
                    <div class="mt-5 pl-3">
                        <div style="padding-top:7%;color:grey;">
                            <h4>No Courses Taken Yet!!</h4>
                        </div>
                    </div>
                    {% endif %}
              </div>

            <div class="row">
                {% for course in courses %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="course-1-item">
                            <figure class="thumnail" style="overflow:hidden;">
                            <a href="{{course.id}}/"><img src="{{course.image.url}}" alt="Image" style="width:100%;height:17rem;" class="img-responsive fit-image"></a>
                            <div class="price">${{course.price}}</div>
                            <div class="category"><h3>{{course.teacher_id.category}}</h3></div>  
                            </figure>
                            <div class="course-1-content pb-4">
                            <h2>{{course.title}}</h2>
                            <div class="rating text-center mb-3 text-dark">
                                Rating - {{course.avg_rating}} out of 5
                            </div>
                            <p class="desc mb-4">{{course.brief_desc}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('{% static "images/course_6.jpg" %}');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Our Philosphy</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Academics Principle</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Key of Success</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
          </div>
        </div>
      </div>
 

   <!-- - ================================================================================== -->
   {% endblock %}     
